<a href="https://colab.research.google.com/github/HermesGP/Repositorio-SGBDA/blob/main/Clase%204/Clase_4_Colecciones_SGDBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Listas como pilas y instrucción del

In [3]:
pila_numeros = [4, 8 , 9, 7]
pila_numeros.append(9)
print(pila_numeros)
pila_numeros.pop()
print(pila_numeros)
del pila_numeros[0]
print(pila_numeros)

[4, 8, 9, 7, 9]
[4, 8, 9, 7]
[8, 9, 7]

Colas con collections.queue

In [5]:
from collections import deque
cola = deque(["Pablo", "Martin", "Bonifacio", "Maria"])
cola.append("Viviana")
print(cola)
persona_llamada = cola.popleft()
print(f"Es el turno de {persona_llamada}")
print(cola)

deque(['Pablo', 'Martin', 'Bonifacio', 'Maria', 'Viviana'])
Es el turno de Pablo
deque(['Martin', 'Bonifacio', 'Maria', 'Viviana'])

Tuplas

In [12]:
tupla_uno = "Hola","Que","Tal"
print(tupla_uno)
tupla_dos = (1, 5, 8 ,9)
print(tupla_dos)
tupla_tres = tupla_uno + tupla_dos
print(tupla_tres)
tupla_listas = ([5,6,8] , [9,7,5])
print(tupla_listas)
tupla_listas[0][2] = 10
print(tupla_listas)

('Hola', 'Que', 'Tal')
(1, 5, 8, 9)
('Hola', 'Que', 'Tal', 1, 5, 8, 9)
([5, 6, 8], [9, 7, 5])
([5, 6, 10], [9, 7, 5])

Diccionarios

In [10]:
datos_personales ={"nombre": "Jan Perez",
                   "cedula": 6974578,
                   "telefono": "+595981725660"
                   }
print(datos_personales)
print(datos_personales["nombre"])
datos_personales["nombre"] = "Juan Perez"
print(datos_personales)

{'nombre': 'Jan Perez', 'cedula': 6974578, 'telefono': '+595981725660'}
Jan Perez
{'nombre': 'Juan Perez', 'cedula': 6974578, 'telefono': '+595981725660'}

Lista de diccionarios y tecnicas de iteración

In [18]:
contactos = [
    {"nombre": "Juan", "telefono": "123456789", "edad": 36},
    {"nombre": "María", "telefono": "987654321", "edad": 28},
    {"nombre": "Pedro", "telefono": "555555555", "edad": 42}
]
print("Lista de contactos")
print("----------------------------")
for contacto in contactos:
  print(f"Nombre: {contacto['nombre']}")
  print(f"Teléfono: {contacto['telefono']}")
  print(f"Edad: {contacto['edad']}")
  print("----------------------------")
for contacto in contactos:
    for clave, valor in contacto.items():
        print(f"{clave}: {valor}")
    print("----------------------------")
    for clave in contacto.keys():
        print(f"{clave}: {contacto[clave]}")
    print("----------------------------")
    for valor in contacto.values():
        print(valor)
    print("----------------------------")

Lista de contactos
----------------------------
Nombre: Juan
Teléfono: 123456789
Edad: 36
----------------------------
Nombre: María
Teléfono: 987654321
Edad: 28
----------------------------
Nombre: Pedro
Teléfono: 555555555
Edad: 42
----------------------------
nombre: Juan
telefono: 123456789
edad: 36
----------------------------
nombre: Juan
telefono: 123456789
edad: 36
----------------------------
Juan
123456789
36
----------------------------
nombre: María
telefono: 987654321
edad: 28
----------------------------
nombre: María
telefono: 987654321
edad: 28
----------------------------
María
987654321
28
----------------------------
nombre: Pedro
telefono: 555555555
edad: 42
----------------------------
nombre: Pedro
telefono: 555555555
edad: 42
----------------------------
Pedro
555555555
42
----------------------------

Otras tecnicas de iteracion sobre listas

In [20]:
lista = ["abra","kadabra","alakazam"]
for indice, valor in enumerate(lista):
    print(f"{indice}: {valor}")
for i in reversed(lista):
    print(i)
for i in sorted(lista):
    print(i)

0: abra
1: kadabra
2: alakazam
alakazam
kadabra
abra
abra
alakazam
kadabra

Conjuntos

In [22]:
frutas = {"manzana", "banana", "pera", "naranja"}
print(frutas)
print("manzana" in frutas)
print("uva" in frutas)
frutas.add("uva")
print(frutas)
frutas.add("pera")
print(frutas)

{'manzana', 'naranja', 'banana', 'pera'}
True
False
{'banana', 'uva', 'naranja', 'pera', 'manzana'}
{'banana', 'uva', 'naranja', 'pera', 'manzana'}

Operaciones sobre conjuntos

In [24]:
set_uno = {1, 2, 3, 4, 5}
set_dos = {4, 5, 6, 7, 8}
#union
print(set_uno | set_dos)
#inserseccion
print(set_uno & set_dos)
#diferencia
print(set_uno - set_dos)
#diferencia simetrica
print(set_uno ^ set_dos)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}